@model InterstPage.Models.InterstModel
@{
    ViewData["Title"] = "Home Page";
}
<div id="carouselExampleIndicators" class="carousel slide mt-2" data-ride="carousel">
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.MyInterstsList.Count(); i++)
        {
            <li data-target="#carouselExampleIndicators" data-slide-to="@(i.ToString())"
                @(i == 1 ? "class='active'" : "")></li>
        }
    </ol>
    <div class="carousel-inner">
        @for (int i = 0; i < Model.MyInterstsList.Count(); i++)
        {
            <div class="carousel-@(i == 1 ? "item active" : "item")">
                <img class="d-block w-100 imgdiv" src="@(Model.MyInterstsList[i].URL)" alt="title">
                <div class="carousel-caption d-none d-md-block opacity-card">
                    <div class="card bg-dark text-light rounded mx-auto" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-text">@(Model.MyInterstsList[i].PhotoDesccription)</h5>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<h1 class="text-center mt-5" id="interests">Intrests</h1>
<div class="row">
    @foreach (var item in Model.MyInterstsList)
    {
        <div class="col-sm-6">
            <div class="card mt-5">
                <div class="card-body text-center">
                    <h5 class="card-title">@(item.PhotoDesccription)</h5>
                    <p class="card-text">@(item.LongerDescrition)</p>
                </div>
            </div>
        </div>
    }
</div>
<h1 class="text-center mt-5" id="news">Wiadomości</h1>
<div class="row">
    @foreach (var item in Model.RssItems)
    {
        <div class="col-sm-6">
            <div class="card mt-5">
                <div class="card-body text-center">
                    <h5 class="card-title">@(item.Title)</h5>
                    <p class="card-text">@Html.Raw(@item.Description)</p>
                </div>
            </div>
        </div>
    }
</div>

